@model EntityLayer.DTOs.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Üye Olma Sayfası</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Template/registertemplate/colorlib-regform-8/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/Template/registertemplate/colorlib-regform-8/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    @using (Html.BeginForm("Register", "Register", FormMethod.Post))
                    {
                        <h2 class="form-title">Hesabını Oluştur</h2>
                        <div class="form-group">
                            <input type="text" class="form-input" name="AdminUserName" id="AdminUserName" placeholder="Kullanıcı Adınız" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-input" name="AdminMail" id="AdminMail" placeholder="Email Adresiniz" />
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="AdminPassword" id="AdminPassword" placeholder="Şifreniz" />
                            <span toggle="#AdminPassword" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        @*<div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>*@
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Üye Ol" />
                        </div>
                    }
                    <p class="loginhere">
                        Zaten Hesabın Var mı ? <a href="/Login/Index/" class="loginhere-link">Giriş Yap</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="~/Template/registertemplate/colorlib-regform-8/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/registertemplate/colorlib-regform-8/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
