@model List<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Action("AboutAddPartial","AdminAbout")

<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Hakkımda Başlığı</th>
        <th>Hakkında Durumu</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutID</th>
            <th>Başlık</th>
            <th><a href="#" class="btn btn-warning">Pasif Yap</a></th>
        </tr>
    }

</table>

