@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V13</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Template/writerregistertemplate/Login_v13/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Template/writerregistertemplate/Login_v13/css/main.css">
    <!--===============================================================================================-->
    <script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body style="background-color: #999999;">

    <div class="limiter">
        <div class="container-login100">
            <div class="login100-more" style="background-image: url('/Template/writerregistertemplate/Login_v13/images/bg-01.jpg');"></div>

            <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
                @using (Html.BeginForm("WriterRegister", "Login", FormMethod.Post))
                {
                    <span class="login100-form-title p-b-59">
                        Üye Ol
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Name is required">
                        <span class="label-input100">İsim</span>
                        <input class="input100" type="text" name="WriterName" placeholder="İsim...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <span class="label-input100">Soyisim</span>
                        <input class="input100" type="text" name="WriterSurName" placeholder="Soyisim...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Username is required">
                        <span class="label-input100">Kullanıcı Adı</span>
                        <input class="input100" type="text" name="WriterUserName" placeholder="Kullanıcı Adı...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Eposta</span>
                        <input class="input100" type="text" name="WriterMail" placeholder="Eposta...">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Repeat Password is required">
                        <span class="label-input100">Şifre</span>
                        <input class="input100" type="text" name="WriterPassword" placeholder="Şifre...">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" style="margin:20px" data-sitekey="6LeNZ1cbAAAAAPv0Bure4EdU78TAAGNdpITjic4H"></div>
                    </div>

                    <div class="flex-m w-full p-b-33">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                <span class="txt1">
                                    I agree to the
                                    <a href="#" class="txt2 hov1">
                                        Terms of User
                                    </a>
                                </span>
                            </label>
                        </div>


                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Üye Ol
                            </button>
                        </div>

                        <a href="/Login/WriterLogin/" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                            Giriş Yap
                            <i class="fa fa-long-arrow-right m-l-5"></i>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Template/writerregistertemplate/Login_v13/js/main.js"></script>

</body>
</html>
